In [41]:
from pathlib import Path
import pandas as pd

file = Path(r"C:1.2.5 cutoff\1\SrTiO3_0.5_0.data")
data = pd.read_csv(file, delimiter=" ")

C:\Users\raven\AppData\Local\Temp\ipykernel_32788\2242073175.py:5: DtypeWarning: Columns (0,1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file, delimiter=" ")

In [43]:
atom_data = data.iloc[10:int(data.iloc[0,0]) + 10,0:9]
atom_data.columns = ["index", "Atom", "Charge", "x", "y", "z","x_velocity","y_veloctiy", "z_velocity"]
atom_data["x"] = atom_data["x"].astype(float)
atom_data.set_index("index", inplace=True)

In [44]:
atom_data

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0.0,0.0,0.0
2,3,-1.2,471.859215,47.147857,13.8075,0.0,0.0,0.0
3,1,1.2,469.886791,47.165159,11.8350,0.0,0.0,0.0
4,3,-1.2,467.914367,47.182461,13.8075,0.0,0.0,0.0
5,1,1.2,465.941942,47.199763,11.8350,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0.0,0.0,0.0
57685,3,-1.2,243.023413,45.210037,13.8075,0.0,0.0,0.0
57686,3,-1.2,243.040715,47.182461,11.8350,0.0,0.0,0.0
57687,1,1.2,244.995838,45.192735,11.8350,0.0,0.0,0.0
57688,2,2.4,246.985564,47.147857,13.8075,0.0,0.0,0.0

In [45]:
new = atom_data[~((atom_data["x"] > 1.9897) & (atom_data["x"] < 195.28) & (atom_data["y"] < 1.9551) & (atom_data["y"] > 0.25952))]

In [46]:
new

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0.0,0.0,0.0
2,3,-1.2,471.859215,47.147857,13.8075,0.0,0.0,0.0
3,1,1.2,469.886791,47.165159,11.8350,0.0,0.0,0.0
4,3,-1.2,467.914367,47.182461,13.8075,0.0,0.0,0.0
5,1,1.2,465.941942,47.199763,11.8350,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0.0,0.0,0.0
57685,3,-1.2,243.023413,45.210037,13.8075,0.0,0.0,0.0
57686,3,-1.2,243.040715,47.182461,11.8350,0.0,0.0,0.0
57687,1,1.2,244.995838,45.192735,11.8350,0.0,0.0,0.0
57688,2,2.4,246.985564,47.147857,13.8075,0.0,0.0,0.0

In [47]:
data.iloc[10:int(data.iloc[0,0]) + 10,0:9] = new

ValueError: setting an array element with a sequence.