In [150]:
from pathlib import Path
import pandas as pd

file = Path(r"C:1.2.5 cutoff\1\SrTiO3_0.5_0.data")
head = pd.read_csv(file, delimiter= ' ', nrows= 10)
df = head
insert_rows = [9,6,5,2,0]
# Create an empty row as a DataFrame
empty_row = pd.DataFrame([[None] * len(df.columns)], columns=df.columns)
df = pd.concat([df,empty_row])
for index_to_insert in insert_rows:
    # Split the DataFrame into two parts and concatenate with the empty row
    df = pd.concat([df.iloc[:index_to_insert], empty_row, df.iloc[index_to_insert:]]).reset_index(drop=True)
head = df
data = pd.read_csv(file, delimiter=" ", header= 10, nrows=int(head.iloc[1,0])).reset_index()
atom_data = data
atom_data.columns = ["index", "Atom", "Charge", "x", "y", "z","x_velocity","y_veloctiy", "z_velocity"]
atom_data.set_index("index", inplace= True)
y = head.columns[0:9]
b = atom_data.reset_index()
b.columns = y
x = pd.concat([head, b],)
x.to_csv(
            r"1.2.5 cutoff\1\SrTiO3_0.5_000.data", sep=" ", index=False, header=True
        )

In [189]:
"""Module for changing the 1 degree angle"""

from pathlib import Path
import pandas as pd


class AtomDeleter:
    """Class for making an atom dleter of a selected file"""

    def __init__(self, path=r"C:1.2.5 cutoff\1\SrTiO3_0.5_0.data"):
        self.file = Path(path)
        self.head = pd.read_csv(self.file, delimiter=" ", nrows=10)
        df = self.head
        insert_rows = [9, 6, 5, 2, 0]
        # Create an empty row as a DataFrame
        empty_row = pd.DataFrame([[None] * len(df.columns)], columns=df.columns)
        df = pd.concat([df, empty_row])
        for index_to_insert in insert_rows:
            # Split the DataFrame into two parts and concatenate with the empty row
            df = pd.concat(
                [df.iloc[:index_to_insert], empty_row, df.iloc[index_to_insert:]]
            ).reset_index(drop=True)
        self.head = df
        data = pd.read_csv(
            self.file, delimiter=" ", header=10, nrows=int(self.head.iloc[1, 0])
        ).reset_index()
        self.atom_data = data
        self.atom_data.columns = [
            "index",
            "Atom",
            "Charge",
            "x",
            "y",
            "z",
            "x_velocity",
            "y_veloctiy",
            "z_velocity",
        ]
        self.atom_data = self.atom_data.drop(columns=["index"])
        self.remove_areas = [
            (195.3, 1.9897, 1.9552, 0.25952),
            (473.5, 451.7, 1.96, 1.76),
            (420.162, 226.86, 1.96, 0.259),
        ]

    def main(self):
        """Main execution sequence"""
        for x in self.remove_areas:
            self.remove_atom_range(*x)
        self.save()

    def remove_atom_range(self, x_max: float, x_min: float, y_max: float, y_min: float):
        """Removes the range of atoms specified

        Args:
            x_max (float): x max value
            x_min (float): x min value
            y_max (float): y max value
            y_min (float): y min value
        """

        atom_data = self.atom_data
        self.atom_data = atom_data[
            ~(
                (atom_data["x"] > x_min)
                & (atom_data["x"] < x_max)
                & (atom_data["y"] < y_max)
                & (atom_data["y"] > y_min)
            )
        ]

    def save(self, name=r"1.2.5 cutoff\1\SrTiO3_0.5_0.txt"):
        """Modifies and formats back into a data file

        Args:
            name (regexp, optional): file to save to.
        """
        y = self.head.columns[0:9]
        b = self.atom_data.reset_index(drop=True)
        b.index = b.index + 1
        b = b.reset_index()
        b.columns = y
        self.head.iloc[1, 0] = len(self.atom_data)
        x = pd.concat(
            [self.head, b],
        )
        x.to_csv(name, sep=" ", index=False, header=True)


if __name__ == "__main__":
    deleter = AtomDeleter()
    deleter.main()

In [171]:
deleter.atom_data
new = deleter.atom_data.reset_index(drop= True)
new = new.reset_index()
new

,index,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
0,0,1,1.2,473.831639,47.130555,11.8350,0,0,0
1,1,3,-1.2,471.859215,47.147857,13.8075,0,0,0
2,2,1,1.2,469.886791,47.165159,11.8350,0,0,0
3,3,3,-1.2,467.914367,47.182461,13.8075,0,0,0
4,4,1,1.2,465.941942,47.199763,11.8350,0,0,0
...,...,...,...,...,...,...,...,...,...
57103,57103,3,-1.2,241.068291,47.199763,13.8075,0,0,0
57104,57104,3,-1.2,243.023413,45.210037,13.8075,0,0,0
57105,57105,3,-1.2,243.040715,47.182461,11.8350,0,0,0
57106,57106,1,1.2,244.995838,45.192735,11.8350,0,0,0
57107,57107,2,2.4,246.985564,47.147857,13.8075,0,0,0

In [175]:
len(deleter.atom_data)

57108

In [43]:
atom_data = data.iloc[10:int(data.iloc[0,0]) + 10,0:9]
atom_data.columns = ["index", "Atom", "Charge", "x", "y", "z","x_velocity","y_veloctiy", "z_velocity"]
atom_data["x"] = atom_data["x"].astype(float)
atom_data.set_index("index", inplace=True)

In [151]:
atom_data

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0,0,0
2,3,-1.2,471.859215,47.147857,13.8075,0,0,0
3,1,1.2,469.886791,47.165159,11.8350,0,0,0
4,3,-1.2,467.914367,47.182461,13.8075,0,0,0
5,1,1.2,465.941942,47.199763,11.8350,0,0,0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0,0,0
57685,3,-1.2,243.023413,45.210037,13.8075,0,0,0
57686,3,-1.2,243.040715,47.182461,11.8350,0,0,0
57687,1,1.2,244.995838,45.192735,11.8350,0,0,0
57688,2,2.4,246.985564,47.147857,13.8075,0,0,0

In [45]:
new = atom_data[~((atom_data["x"] > 1.9897) & (atom_data["x"] < 195.28) & (atom_data["y"] < 1.9551) & (atom_data["y"] > 0.25952))]

In [46]:
new

,Atom,Charge,x,y,z,x_velocity,y_veloctiy,z_velocity
index,,,,,,,,
1,1,1.2,473.831639,47.130555,11.8350,0.0,0.0,0.0
2,3,-1.2,471.859215,47.147857,13.8075,0.0,0.0,0.0
3,1,1.2,469.886791,47.165159,11.8350,0.0,0.0,0.0
4,3,-1.2,467.914367,47.182461,13.8075,0.0,0.0,0.0
5,1,1.2,465.941942,47.199763,11.8350,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
57684,3,-1.2,241.068291,47.199763,13.8075,0.0,0.0,0.0
57685,3,-1.2,243.023413,45.210037,13.8075,0.0,0.0,0.0
57686,3,-1.2,243.040715,47.182461,11.8350,0.0,0.0,0.0
57687,1,1.2,244.995838,45.192735,11.8350,0.0,0.0,0.0
57688,2,2.4,246.985564,47.147857,13.8075,0.0,0.0,0.0